*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgba(0, 0, 0);
}
/* 头部 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.9978678vw;
  height: 15.99147122vw;
  width: 99.9466951vw;
  background-color: #fff;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}
header .left {
  color: #4C4948;
  font-size: 4.85074627vw;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
header .right a {
  flex: 1;
  margin-right: 3.73134328vw;
  font-weight: 550;
  font-size: 3.73134328vw;
}
header .right a:last-child {
  margin-right: 0;
}
.topTitle {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../pic/pic_1.jpg) no-repeat top center;
  background-size: cover;
  background-position: top;
  align-items: center;
  justify-content: center;
}
.topTitle h1 {
  font-size: 6.92963753vw;
  color: #FFF;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.content {
  margin-left: 1.3326226vw;
  margin-right: 1.3326226vw;
}
.content ul li {
  margin-top: 5.33049041vw;
  border-radius: 2.6652452vw;
  border: 0.26652452vw solid #3d3d3f;
}
.content ul li img {
  width: 100%;
  height: 61.30063966vw;
  border-radius: 2.6652452vw;
}
.content ul li .text {
  margin-top: 0;
  padding: 5.33049041vw 5.33049041vw 7.99573561vw;
  width: 100%;
  height: 46.7217484vw;
  text-align: center;
  background-color: rgba(18, 18, 18);
}
.content ul li .text h3 {
  font-size: 5.33049041vw;
  color: rgba(221, 221, 221);
}
.content ul li .text div:nth-child(2) {
  margin: 1.59914712vw 0;
  display: flex;
  font-size: 3.35820896vw;
  color: rgba(133, 133, 133);
}
.content ul li .text div:last-child {
  font-size: 3.73134328vw;
  font-weight: 600;
  color: rgba(157, 157, 157);
}
.content .pageGo {
  display: flex;
  width: 100%;
  height: 9.32835821vw;
  margin-top: 5.33049041vw;
  align-items: center;
  justify-content: center;
}
.content .pageGo a {
  width: 9.32835821vw;
  height: 9.32835821vw;
  margin: 0 1.59914712vw;
  text-align: center;
  line-height: 9.32835821vw;
  background-color: rgba(18, 18, 18);
  color: #99A9BF;
  font-size: 3.73134328vw;
  border: 0.26652452vw solid #3d3d3f;
  border-radius: 2.13219616vw;
}
.content .pageGo span {
  width: 9.32835821vw;
  height: 9.32835821vw;
  margin: 0 1.59914712vw;
  color: #99A9BF;
  font-size: 3.73134328vw;
  text-align: center;
  line-height: 9.32835821vw;
  background-color: rgba(18, 18, 18);
  border: 0.26652452vw solid #3d3d3f;
  border-radius: 2.13219616vw;
}
.content .introdMf {
  width: 100%;
  height: 101.81236674vw;
  margin-top: 5.33049041vw;
  padding: 5.33049041vw 6.39658849vw;
  border-radius: 2.6652452vw;
  background-color: rgba(4, 4, 4);
  border: 0.26652452vw solid #3d3d3f;
}
.content .introdMf .top {
  width: 84.2217484vw;
  height: 46.90831557vw;
  text-align: center;
}
.content .introdMf .top img {
  width: 29.31769723vw;
  height: 29.31769723vw;
  border-radius: 50%;
}
.content .introdMf .top div:nth-child(2) {
  width: 84.2217484vw;
  height: 11.72707889vw;
  color: rgba(208, 208, 208);
  line-height: 11.72707889vw;
  font-size: 5.86353945vw;
  font-weight: 700;
}
.content .introdMf .top div:last-child {
  width: 84.2217484vw;
  height: 5.86353945vw;
  color: rgba(148, 148, 148);
  line-height: 5.86353945vw;
  font-size: 3.73134328vw;
  font-weight: 600;
}
.content .introdMf .lable {
  width: 100%;
  height: 18.12366738vw;
  margin-top: 0.53304904vw;
  line-height: 18.12366738vw;
  text-align: center;
  font-size: 3.73134328vw;
  color: rgba(230, 230, 230);
}
.content .introdMf .func {
  width: 100%;
  height: 9.59488273vw;
  margin-top: 3.73134328vw;
  line-height: 9.59488273vw;
  text-align: center;
  color: rgba(180, 180, 180);
  background-color: rgba(31, 31, 31);
  border-radius: 2.13219616vw;
  font-size: 3.73134328vw;
  font-weight: 600;
}
.content .introdMf .guide {
  display: flex;
  width: 100%;
  height: 10.66098081vw;
  margin-top: 1.59914712vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content .introdMf .guide .iconfont {
  width: 4.79744136vw;
  height: 4.79744136vw;
  font-size: 4.79744136vw;
  margin: 0 2.13219616vw;
  line-height: 4.26439232vw;
  color: rgba(180, 180, 180);
}
