// out: ../css/

@import "./base";

// 首页样式
body {
    background-color: #f9fafb;
}

@vw: 3.75vw;

/* 头部 */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 (15/@vw);
    height: (60/@vw);
    width: (375/@vw);
}